<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MVC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<script src="~/lib/font-awesome/js/all.js"></script>
	<script src="~/lib/font-awesome/js/all.min.js"></script>
	
	<link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="navbar-brand">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
						</li>
						@if(!User.Identity.IsAuthenticated)
						{
							<li class="navbar-brand">
								<a class="nav-link text-dark" asp-area="Kullanici" asp-controller="Kullanicis" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i> Giriş Yap</a>
							</li>
						}
						else
						{
							<li class="navbar-brand">
								<a class="nav-link text-dark" asp-area="Kullanici" asp-controller="Kullanicis" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> Çıkış</a>
							</li>
							<li class="navbar-brand">
								<span class="nav-link text-danger">|</span>
							</li>
							<li class="navbar-brand">
								<span class="nav-link text-danger"><i class="fa-solid fa-user"></i> @User.Identity.Name</span>
							</li>
						}

						
						<div class="collapse navbar-collapse" id="navbarResponsive">
							<ul class="navbar-nav ms-auto py-4 py-lg-0">
								@if(User.IsInRole("Admin"))
								{
									<li class="navbar-brand">
										<a class="nav-link text-dark" asp-area="Report" asp-controller="Home" asp-action="Index"><i class="fa fa-flag"></i> Rapor</a>
								</li>
								}
								<li class="navbar-brand">
									<a class="nav-link text-dark" asp-area="" asp-controller="Favoris" asp-action="FavorileriGetir"><i class="fa-solid fa-star"></i> Favorilerim</a>
								</li>
								<li class="navbar-brand">
									<a class="nav-link text-dark" asp-area="" asp-controller="Yapis" asp-action="Index"><i class="fa-solid fa-building"></i> Buildings</a>
								</li>
								<li class="navbar-brand">
									<a class="nav-link text-dark" asp-area="" asp-controller="Turs" asp-action="Index">Types</a>
								</li>
								<li class="navbar-brand">
									<a class="nav-link text-dark" asp-area="" asp-controller="Mimars" asp-action="Index">Architects</a>
								</li>
								<li class="navbar-brand">
									<a class="nav-link text-dark" asp-area="" asp-controller="Kullanicis" asp-action="Index"><i class="fa-solid fa-person"></i> Users</a>
								</li>
							</ul>
						</div>
				</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
