@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(!User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome to Architecture Buildings</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to Architecture Buildings @User.Identity.Name !</h1>
    }
    
</div>
